/* Abstracts */
:root {
  --color-primary-light: #a5dd72;
  --color-primary-dark: #83c77c;

  --color-secondary-light: #ff4b2b;
  --color-secondary-dark: #ff416c;

  --color-tertiary-light: #f5c042;
  --color-tertiary-dark: #f8cc47;

  --color-quarternary-light: #8f94fb;
  --color-quarternary-dark: #4e54c8;

  --color-grey-light-1: #f3f3f3;
  --color-grey-light-2: #eee;

  --color-grey-dark-1: #6d6d6d;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  --shadow-light: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/* Base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}

body {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 1rem;
}

::selection {
  background-color: var(--color-secondary-light);
  color: #fff;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background-color: var(--color-grey-light-1);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-light);
}

/* Typography */
body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.welcome-message {
  font-size: 5rem;
  color: var(--color-primary-dark);
}

.welcome-message-sub {
  font-size: 3.5rem;
  color: var(--color-secondary-dark);
}

.welcome-message-tertiary {
  font-size: 2.25rem;
}

.welcome-message-quartnernary {
  font-size: 2rem;
}

.newdata-message {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}

.newdata-tertiary {
  font-size: 1.2rem;
}

.name-color {
  color: var(--color-quarternary-light);
}

.link-text {
  color: var(--color-secondary-light);
  text-decoration: none;
  font-weight: 700;
  font-size: inherit;
}

.link-text:hover {
  text-decoration: underline;
}

.section-404__main {
  font-size: 8rem;
  margin-bottom: 1rem;
  color: var(--color-secondary-light);
}

.section-404__sub {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.plain-link {
  text-decoration: none;
  color: inherit;
}

/* Components */
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  box-shadow: var(--shadow-dark);
}

.alert--success {
  background-color: var(--color-quarternary-dark);
}

.alert--error {
  background-color: var(--color-secondary-light);
}

.dashboard {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.dashboard__grid {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  grid-auto-rows: 1fr;
}

.dashboard__grid-item {
  display: flex;
  flex-direction: column;

  background: #fff;
  color: #000;
  box-shadow: var(--shadow-light);
  border-radius: 10px;
  padding: 2rem;
  transition: all 0.2s ease;
}

.dashboard__grid-item:hover {
  background: var(--color-tertiary-dark);
}

.dashboard__grid-item__title {
  font-weight: 700;
  font-size: 2rem;
}

.dashboard__grid-item__desc {
  margin-top: 2rem;
}

.dashboard__grid-item__actions {
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
}

.form {
  flex: 0 0 50%;

  border: 1px solid #000;
  border-radius: 10px;
  padding: 5rem;
  background-color: #fff;
}

.form__holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form__holder__label {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.form__holder__label::after {
  content: '*';
  margin-left: 0.5rem;
  color: var(--color-secondary-dark);
}

.form__holder__input {
  border: none;
  background-image: none;
  background-color: transparent;

  border: 1px solid var(--color-grey-dark-2);
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem;
}

.form__holder__input:focus {
  outline: none;
  border: 1px solid var(--color-quarternary-light);
}

.form__holder__description {
  margin-top: 0.5rem;
}

.form__holder__submit {
  text-align: center;
}

.button {
  border: none;
  color: var(--color-primary-dark);
  font-size: 1.6rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}

.red-rounded-btn {
  background-color: var(--color-secondary-light);
  border-radius: 5px;
  border: 1px solid var(--color-secondary-dark);
  width: 20rem;
  height: 3.5rem;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.red-rounded-btn:hover {
  background-color: #fff;
  color: #000;
}

/* Layouts */
body {
  background-color: var(--color-grey-light-1);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  flex: 1;

  display: flex;
  align-items: stretch;
}

.section-main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-main__greetings {
  margin-bottom: 5rem;
}

.section-new {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-new__greetings {
  margin-bottom: 2rem;
  text-align: center;
}

.section-404 {
  flex: 1;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.header {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.header__link {
  display: inline-block;
}

.header__link:not(:first-child) {
  padding-left: 1rem;
}

.footer {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: right;
  color: var(--color-quarternary-dark);
  font-weight: 500;
}

/* Media Queries */
/* 1200px */
@media only screen and (max-width: 75em) {
}

/* 1100px */
@media only screen and (max-width: 69.75em) {
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .alert {
    font-size: 2rem;
    padding: 1.6rem 10rem;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .dashboard__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .welcome-message {
    font-size: 4rem;
  }

  .welcome-message-sub {
    font-size: 3rem;
  }

  .welcome-message-tertiary {
    font-size: 1.6rem;
  }

  .welcome-message-quartnernary {
    font-size: 1.4rem;
  }

  .dashboard__grid-item__desc {
    font-size: 1.4rem;
  }

  .newdata-message {
    font-size: 3.5rem;
  }

  .form {
    padding: 2rem;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .welcome-message {
    font-size: 3rem;
  }

  .welcome-message-sub {
    font-size: 2.5rem;
  }

  .link-text {
    font-size: 1.2rem;
  }
}
