{% extends "base.html" %}

{% macro card(link="") %}
  <div class="dashboard__grid-item">
    <h5 class="dashboard__grid-item__title">{{ link.name }}</h5>

    <p class="dashboard__grid-item__desc">
      {{ link.description }}
    </p>

    <div class="dashboard__grid-item__actions">
      <div class="dashboard__grid-item__actions-left">
        <a class="link-text" target="_blank" href="{{ link.url }}" rel="noopener noreferrer">
          Visit
        </a>
      </div>

      <div class="dashboard__grid-item__actions-right">
        <a class="link-text" href="{{ url_for('views_blueprint.edit', id=link.id) }}" rel="noopener noreferrer">
          Edit
        </a>
        <a class="link-text" href="#" rel="noopener noreferrer">
          Delete
        </a>
      </div>
    </div>
  </div>
{% endmacro %}

{% block content %}
  <section class="section-main">
    <div class="section-main__greetings">
      <h1 class="welcome-message">
        Welcome back, <span class="name-color">Nicholas!</span>
      </h1>
      <h2 class="welcome-message-sub">Raspberry Pi is ready!</h2>
      <h3 class="welcome-message-tertiary">Hope you had a great day.</h3>
    </div>

    <div class="dashboard">
      <h4 class="welcome-message-quartnernary">Check out your links that you added to your dashboard:</h4>

      <div class="dashboard__grid">
        {% for link in links %}
          {{ card(link) }}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}